.list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    position: relative;
    display: block;
    margin: var(--spacer) 0;
  }
}

@media (min-width: 576px) {
  .list {
    &__link {
      padding: calc(var(--spacer) * 1.5);
    }
  }
}

@include media-breakpoint-up(lg) {
  .list {
    &--half {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% + 20px);
      margin: 0 -10px;

      .card {
        width: calc(50% - 20px);
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}
