.main-footer {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: 
    "college"
    "address"
    "phone"
    "website"
    "credits"
    "copyrights";
  position: relative;
  width: 100%;
  background-color: var(--background-off);
  margin: calc(var(--spacer)*3) 0 0;
  padding: calc(var(--spacer)*2) 0;
  overflow: hidden;
  border-top: solid 1px var(--highlight);
  text-align: center;
  z-index: 1;
  transition: background-color 1s, border-top 1s;

  a {
    text-decoration: none;
    color: currentColor;
  
    &:hover {
      text-decoration: underline;
    }
  }

  &__college { grid-area: college; }
  &__address { grid-area: address; }
  &__phone { grid-area: phone; }
  &__website { grid-area: website; }
  &__credits { grid-area: credits; }
  &__copyrights { grid-area: copyrights; }

  &__college,
  &__address,
  &__phone,
  &__website,
  &__credits,
  &__copyrights {
    padding: 0 var(--spacer);
  }

  &__phone,
  &__credits,
  &__copyrights {
    margin-top: var(--spacer);
  }

  &__credits,
  &__copyrights {
    font-size: 14px;
  }

  &__address address { font-style: normal; }

  &__phone a,
  &__website a {
    display: inline-block;
    padding: 3px 0;
  }
}

.logo-cmontmorency { 
  display: block;
  height: 34px; 
  margin: 0 auto 5px;

  path {
    fill: var(--highlight);
    transition: fill 1s;
  }

  ellipse {
    fill: var(--highlight);
    transition: fill 1s;
  }

  g path {
    fill: var(--color);
    transition: fill 1s;
  }
}

.copyrights {
  align-items: center;
  display: flex;
  flex-direction: column;

  .logo-tim {
    height: 40px;
    margin: 0 auto var(--spacer);
  }
}

/*--- SM ---------------------------------*/
@media (min-width: 576px) {
  .main-footer {
    align-items: center;
    grid-template-areas: 
      "college phone"
      "address website"
      "credits credits"
      "copyrights copyrights";
    padding-left: var(--spacer);
    padding-right: var(--spacer);
  }

  &__college,
  &__address {
    text-align: left;
  }

  &__phone,
  &__website {
    text-align: right;
  }

  .logo-cmontmorency { margin: 0 0 5px; }
 
  .copyrights {
    flex-direction: row;
    text-align: left;

    .logo-tim {
      display: block;
      margin: 0.4em calc(var(--spacer)*2) 0 0;
    }
  }
}


@media (min-width: 576px) {
  .main-footer {
    align-items: center;
    grid-template-areas:
      'college phone'
      'address website'
      'credits credits'
      'copyrights copyrights';
    padding-left: var(--spacer);
    padding-right: var(--spacer);

    &__college,
    &__address {
      text-align: left;
    }

    &__phone,
    &__website {
      text-align: right;
    }
  }

  .logo-cmontmorency {
    margin: 0 0 5px;
  }

  .copyrights {
    flex-direction: row;
    text-align: left;

    .logo-tim {
      display: block;
      margin: 0.4em calc(var(--spacer) * 2) 0 0;
    }
  }
}

/*--- MD ---------------------------------*/
@media (min-width: 768px) {
  .main-footer {
    grid-template-areas: 
      "college address phone"
      "college address website"
      "credits credits credits"
      "copyrights copyrights copyrights";

      &__phone { margin-top: 0; }
  }

  .logo-cmontmorency { margin: 0; }
}

/*--- LG ---------------------------------*/
@media (min-width: 992px) {
  .main-footer {
    grid-template-areas: 
      "college address phone credits"
      "college address website credits"
      "copyrights copyrights copyrights copyrights";
    text-align: left;

    &__phone,
    &__website { text-align: left; }

    &__credits { margin-top: 0; }
  }

  .copyrights { width: fit-content; }
}

/*--- XXL ---------------------------------*/
@media (min-width: 1480px) {
  .main-footer {
    grid-auto-columns: auto;
    grid-template-areas: 
      "copyrights credits college address phone"
      "copyrights credits college address website";
    
    &__copyrights { 
      margin-top: 0; 
    }
  }
}