@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Quicksand:wght@400;600&display=swap");
:root {
  /* Fonts */
  --font-regular: 'Quicksand', sans-serif;
  --font-heading: 'Montserrat', sans-serif;

  /* Colors */
  --white-off: #e0e0e0;

  /* Theme */
  --color-light: #fff;
  --color: #f5f5f5;
  --color-dark: var(--white-off);
  --background-light: #181818;
  --background: #111;
  --background-dark: #0E0E0E;
  --hightlight-light: #ff3363;
  --highlight: #ff003a;
  --highlight-dark: #e00034;
  --complementary: #0df;
  --outline: #f1d302;

  /* Spacing */
  --spacer: 15px;
  --section-spacer: 40px;
  --width: 375px;
}

* { box-sizing: border-box; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.xxl-only { display: none; }

html { scroll-behavior: smooth; }

body {
  background-color: var(--background);
  color: var(--highlight);
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: 600;
  margin: 1.5em 0 0.5em;
}

/*--- Header ------------------------------------*/
.main-header {
  position: relative;
  width: 100%;
  max-width: var(--width);
  margin: calc(var(--spacer)*3) auto calc(var(--spacer)*2);
  padding: 0 var(--spacer);
  z-index: 2;
}

.logo-tim {
  display: block;
  fill: var(--highlight);
}

.logo-tim circle { fill: var(--color-dark); }

.main-header .logo-tim {
  width: 100%;
  margin: 0;
}

.text-icon { 
  display: inline-block;
  height: 1em;
  vertical-align: baseline;
  color: var(--color-dark);
  margin-right: 0.25em;
}

/*--- Main-content ------------------------------------*/
.main-content {
  display: block;
  position: relative;
  max-width: var(--width);
  margin: var(--spacer) auto;
  min-height: calc(100vh - 350px);
  padding: 0 var(--spacer);
  z-index: 1;
}

.section {
  position: relative;
  z-index: 1;
  margin: calc(var(--spacer)*2) 0;
}

.section__title {
  color: var(--color-dark);
}

.section__anchor {
  scroll-margin-top: calc(var(--spacer)*2);
  color: var(--highlight);
  margin-left: -.89em;
  font-size: 1em;
  font-weight: 100;
  visibility: hidden;
  text-decoration: none;
}

.description__text > *:first-child { margin-top: 0; }
.description__text > *:last-child { margin-bottom: 0; }

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__item {
  position: relative;
  display: block;
  margin: var(--spacer) 0;
}

.card {
  transition: transform 0.2s;
}

.card::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 4px;
  left: -4px;
  background-color: var(--highlight);
}

.card:hover {
  transform: skewY(-1deg) scale(1.05);
}

.card__link {
  position: relative;
  display: block;
  color: currentColor;
  border: solid 1px currentColor;
  background-color: var(--background);
  padding: var(--spacer);
  text-decoration: none;
}

.card__title {
  display: block;
  margin: 0;
}

.card__description {
  font-size: 14px;
}

.main-content__outro {
  --grid-color: var(--highlight);
  --grid-size: 50px;
  --grid-blur: 1px;

  align-items: flex-end;
  background-color: var(--background);
  color: var(--color);
  display: -webkit-box;
  display: flex;
  min-height: 200px;
  overflow: hidden;
  perspective: 800px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.main-content__outro::before {
  animation: moving-grid 0.6s linear infinite;
  background-color: var(--background);
  background-image: repeating-linear-gradient(90deg, var(--grid-color) 0%, transparent calc(1px + var(--grid-blur, 0)), transparent var(--grid-size), var(--grid-color) calc(var(--grid-size) + 1px + var(--grid-blur, 0))), repeating-linear-gradient(180deg, var(--grid-color) 0%, transparent calc(1px + var(--grid-blur, 0)), transparent var(--grid-size), var(--grid-color) calc(var(--grid-size) + 1px + var(--grid-blur, 0)));
  border-right: solid 2px var(--grid-color);
  content: '';
  height: 300%;
  left: 50%;
  position: absolute;
  top: -45%;
  transform: rotateX(60deg) translateX(-50%) translateY(-50%);
  width: 125vw;
}

.section--slogan {
  padding-top: 10px;
}

.slogan,
.networks {
  text-align: center;
}

.networks__title {
  font-weight: bold;
  color: var(--color-dark);
}

.networks__list {
  list-style: none;
  margin: 5px -3px;
  padding: 0;
}

.networks__item {
  display: inline-block;
  padding: 3px;
}

.networks__link {
  color: currentColor;
  transition: color 0.3s;
}

.networks__link:hover {
  color: #fff;
}

.networks svg {
  fill: currentColor;
  width: 34px;
  height: 34px;
}

.clipboard-popup { display: none; }

/*--- Footer ------------------------------------*/
.main-footer {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: 
    "college"
    "address"
    "phone"
    "website"
    "credits"
    "copyrights";
  position: relative;
  width: 100%;
  background-color: var(--background-dark);
  margin: calc(var(--spacer)*3) 0 0;
  padding: calc(var(--spacer)*2) 0;
  overflow: hidden;
  border-top: solid 1px var(--highlight);
  text-align: center;
  z-index: 1;
}

.main-footer a {
  text-decoration: none;
  color: currentColor;
}

.main-footer a:hover {
  text-decoration: underline;
}

.main-footer__college { grid-area: college; }
.main-footer__address { grid-area: address; }
.main-footer__phone { grid-area: phone; }
.main-footer__website { grid-area: website; }
.main-footer__credits { grid-area: credits; }
.main-footer__copyrights { grid-area: copyrights; }

.main-footer__college,
.main-footer__address,
.main-footer__phone,
.main-footer__website,
.main-footer__credits,
.main-footer__copyrights {
  padding: 0 var(--spacer);
}

.main-footer__phone,
.main-footer__credits,
.main-footer__copyrights {
  margin-top: var(--spacer);
}

.main-footer__credits,
.main-footer__copyrights {
  font-size: 14px;
}

.main-footer__address address { font-style: normal; }

.main-footer__phone a,
.main-footer__website a {
  display: inline-block;
  padding: 3px 0;
}

.logo-cmontmorency { 
  display: block;
  height: 34px; 
  margin: 0 auto 5px;
}

.logo-cmontmorency path {
  fill: var(--highlight);
}

.logo-cmontmorency ellipse {
  fill: var(--highlight);
}

.logo-cmontmorency g path {
  fill: var(--color-dark);
}

.copyrights {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.copyrights .logo-tim {
  height: 40px;
  margin: 0 auto var(--spacer);
}

/*--- Animations ------------------------------------*/
@keyframes moving-grid {
  0% { transform: rotateX(60deg) translate3d(-50%, -50%, 0); }
  100% { transform: rotateX(60deg) translate3d(-50%, calc(-50% + 50px), 0); }
}

/*--- Media queries ------------------------------------*/
/*--- SM ---------------------------------*/
@media (min-width: 576px) {
  .section__title:hover .section__anchor { visibility: visible; }

  .list__link {
    padding: calc(var(--spacer) * 1.5);
  }

  .main-footer {
    align-items: center;
    grid-template-areas: 
      "college phone"
      "address website"
      "credits credits"
      "copyrights copyrights";
    padding-left: var(--spacer);
    padding-right: var(--spacer);
  }

  .main-footer__college,
  .main-footer__address {
    text-align: left;
  }

  .main-footer__phone,
  .main-footer__website {
    text-align: right;
  }

  .logo-cmontmorency { margin: 0 0 5px; }
 
  .copyrights {
    flex-direction: row;
    text-align: left;
  }

  .copyrights .logo-tim {
    display: block;
    margin: 0.4em calc(var(--spacer)*2) 0 0;
  }

  .clipboard-popup {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--highlight);
    color: var(--background);
    font-weight: bold;
    padding: var(--spacer);
    transform: translate(-50%, calc(-50% - var(--spacer)));
    text-align: center;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
  }

  .clipboard-popup br { display: none; }

  .clipboard-popup.is-visible {
    opacity: 1;
    transform: translate(-50%, calc(-50%));
  }
}

/*--- MD ---------------------------------*/
@media (min-width: 768px) {
  .main-footer {
    grid-template-areas: 
      "college address phone"
      "college address website"
      "credits credits credits"
      "copyrights copyrights copyrights";
  }

  .main-footer__phone { margin-top: 0; }

  .logo-cmontmorency { margin: 0; }
}

/*--- LG ---------------------------------*/
@media (min-width: 992px) {
  :root {
    --width: 575px;
  }

  .main-footer {
    grid-template-areas: 
      "college address phone credits"
      "college address website credits"
      "copyrights copyrights copyrights copyrights";
    text-align: left;
  }
  .main-footer__phone,
  .main-footer__website { text-align: left; }

  .main-footer__credits { margin-top: 0; }

  .copyrights { width: fit-content; }
}

/*--- XXL ---------------------------------*/
@media (min-width: 1480px) {
  .xxl-only { display: block; }

  .main-footer {
    grid-auto-columns: auto;
    grid-template-areas: 
      "copyrights credits college address phone"
      "copyrights credits college address website";
  }

  .main-footer__copyrights { margin-top: 0; }
}