@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Quicksand:wght@400;600&display=swap");
:root {
  /* Fonts */
  --font-regular: 'Quicksand', sans-serif;
  --font-heading: 'Montserrat', sans-serif;

  /* Colors */
  --white-dark: #e0e0e0;
  --black-off: #111;
  --black-dark: #0E0E0E;
  --red-light: #ff3363;
  --red: #ff003a;

  /* Theme */
  --color: var(--black-off);
  --background: #fff;
  --background-off: #f4f4f4;
  --highlight: var(--red-light);

  /* Spacing */
  --spacer: 15px;
  --section-spacer: 40px;
  --width: 375px;
}

.site-theme--dark {
  --color: var(--white-dark);
  --background: var(--black-off);
  --background-off: var(--black-dark);
  --highlight: var(--red);
}

* { box-sizing: border-box; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.xxl-only { display: none; }

html { scroll-behavior: smooth; }

body {
  background-color: var(--background);
  color: var(--highlight);
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  transition: background-color 1s, color 1s;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: 600;
  margin: 1.5em 0 0.5em;
}

.utilities {
  display: none;
  position: fixed;
  right: 0;
  padding: var(--spacer);
}

.contrast-mode {
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
}

.contrast-mode__svg {
  fill: transparent;
  stroke: var(--highlight);
  stroke-width: 2px;
  width: 40px;
  transition: stroke 1s;
}

.contrast-mode__moon {
  opacity: 1;
  transition: d .5s .9s;
}

.contrast-mode .circle {
  display: none; 
  opacity: 0;
}

.contrast-mode__ray {
  opacity: 0;
  transition: opacity .2s;
}

.contrast-mode__ray:nth-child(2) { transition-delay:.2s }
.contrast-mode__ray:nth-child(3) { transition-delay:.3s }
.contrast-mode__ray:nth-child(4) { transition-delay:.4s }
.contrast-mode__ray:nth-child(5) { transition-delay:.5s }
.contrast-mode__ray:nth-child(6) { transition-delay:.6s }
.contrast-mode__ray:nth-child(7) { transition-delay:.7s }
.contrast-mode__ray:nth-child(8) { transition-delay:.8s }
.contrast-mode__ray:nth-child(9) { transition-delay:.9s }

.site-theme--dark .contrast-mode__moon {
  d: path( "M17 15.6c1.7-1.5 3.6-2.3 5.6-2.7 3.6-.6 7.4.6 10 3.6 3.3 3.7 3.6 9 1.1 13.1-.6.9-1.3 1.8-2.2 2.6-4.6 4.1-11.6 3.6-15.6-.9S12.4 19.7 17 15.6z");
  transition: d .5s;
}

.site-theme--dark .contrast-mode__ray { opacity:1 }

/*--- Header ------------------------------------*/
.main-header {
  position: relative;
  width: 100%;
  max-width: var(--width);
  margin: 0 auto calc(var(--spacer)*2);
  padding: calc(var(--spacer)*3) var(--spacer) 0;
  z-index: 2;
}

.logo-tim {
  display: block;
  fill: var(--highlight);
  transition: fill 1s;
}

.logo-tim circle { 
  fill: var(--color); 
  transition: fill 0.25s;
}

.main-header .logo-tim {
  width: 100%;
  margin: 0;
}

.text-icon { 
  display: inline-block;
  height: 1em;
  vertical-align: baseline;
  color: var(--color);
  margin-right: 0.25em;
  transition: color 1s;
}

/*--- Main-content ------------------------------------*/
.main-content {
  display: block;
  position: relative;
  max-width: var(--width);
  margin: var(--spacer) auto;
  min-height: calc(100vh - 350px);
  padding: 0 var(--spacer);
  z-index: 1;
}

.section {
  position: relative;
  z-index: 1;
  margin: calc(var(--spacer)*2) 0;
}

.section__title {
  color: var(--color);
  transition: color 1s;
}

.section__anchor {
  scroll-margin-top: calc(var(--spacer)*2);
  color: var(--highlight);
  margin-left: -.89em;
  font-size: 1em;
  font-weight: 100;
  visibility: hidden;
  text-decoration: none;
  transition: color 1s;
}

.description__text > *:first-child { margin-top: 0; }
.description__text > *:last-child { margin-bottom: 0; }

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__item {
  position: relative;
  display: block;
  margin: var(--spacer) 0;
}

.card {
  transition: transform 0.2s;
}

.card::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 4px;
  left: -4px;
  background-color: var(--highlight);
  transition: background-color 1s;
}

.card:hover {
  transform: skewY(-1deg) scale(1.05);
}

.card__link {
  position: relative;
  display: block;
  color: currentColor;
  border: solid 1px currentColor;
  background-color: var(--background);
  padding: var(--spacer);
  text-decoration: none;
  transition: background-color 1s;
}

.card__title {
  display: block;
  margin: 0;
}

.card__description {
  font-size: 14px;
}

.main-content__outro {
  --grid-color: var(--highlight);
  --grid-size: 50px;
  --grid-blur: 1px;

  align-items: flex-end;
  background-color: var(--background);
  color: var(--color);
  display: -webkit-box;
  display: flex;
  min-height: 200px;
  overflow: hidden;
  perspective: 800px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: background-color 1s, color 1s;
}

.main-content__outro::before {
  animation: moving-grid 0.6s linear infinite;
  background-color: var(--background);
  background-image: repeating-linear-gradient(90deg, var(--grid-color) 0%, transparent calc(1px + var(--grid-blur, 0)), transparent var(--grid-size), var(--grid-color) calc(var(--grid-size) + 1px + var(--grid-blur, 0))), repeating-linear-gradient(180deg, var(--grid-color) 0%, transparent calc(1px + var(--grid-blur, 0)), transparent var(--grid-size), var(--grid-color) calc(var(--grid-size) + 1px + var(--grid-blur, 0)));
  border-right: solid 2px var(--grid-color);
  content: '';
  height: 300%;
  left: 50%;
  position: absolute;
  top: -45%;
  transform: rotateX(60deg) translateX(-50%) translateY(-50%);
  transition: background-color 1s;
  width: 125vw;
}

.section--slogan { padding-top: 10px; }

.slogan,
.networks {
  text-align: center;
}

.networks__title {
  font-weight: bold;
  color: var(--color);
  transition: color 1s;
}

.networks__list {
  list-style: none;
  margin: 5px -3px;
  padding: 0;
}

.networks__item {
  display: inline-block;
  padding: 3px;
}

.networks__link {
  color: currentColor;
  transition: color 0.3s;
}

.networks__link:hover {
  color: var(--color);
}

.networks svg {
  fill: currentColor;
  width: 34px;
  height: 34px;
}

.clipboard-popup { display: none; }

/*--- Footer ------------------------------------*/
.main-footer {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: 
    "college"
    "address"
    "phone"
    "website"
    "credits"
    "copyrights";
  position: relative;
  width: 100%;
  background-color: var(--background-off);
  margin: calc(var(--spacer)*3) 0 0;
  padding: calc(var(--spacer)*2) 0;
  overflow: hidden;
  border-top: solid 1px var(--highlight);
  text-align: center;
  z-index: 1;
  transition: background-color 1s, border-top 1s;
}

.main-footer a {
  text-decoration: none;
  color: currentColor;
}

.main-footer a:hover {
  text-decoration: underline;
}

.main-footer__college { grid-area: college; }
.main-footer__address { grid-area: address; }
.main-footer__phone { grid-area: phone; }
.main-footer__website { grid-area: website; }
.main-footer__credits { grid-area: credits; }
.main-footer__copyrights { grid-area: copyrights; }

.main-footer__college,
.main-footer__address,
.main-footer__phone,
.main-footer__website,
.main-footer__credits,
.main-footer__copyrights {
  padding: 0 var(--spacer);
}

.main-footer__phone,
.main-footer__credits,
.main-footer__copyrights {
  margin-top: var(--spacer);
}

.main-footer__credits,
.main-footer__copyrights {
  font-size: 14px;
}

.main-footer__address address { font-style: normal; }

.main-footer__phone a,
.main-footer__website a {
  display: inline-block;
  padding: 3px 0;
}

.logo-cmontmorency { 
  display: block;
  height: 34px; 
  margin: 0 auto 5px;
}

.logo-cmontmorency path {
  fill: var(--highlight);
  transition: fill 1s;
}

.logo-cmontmorency ellipse {
  fill: var(--highlight);
  transition: fill 1s;
}

.logo-cmontmorency g path {
  fill: var(--color);
  transition: fill 1s;
}

.copyrights {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.copyrights .logo-tim {
  height: 40px;
  margin: 0 auto var(--spacer);
}

/*--- Animations ------------------------------------*/
@keyframes moving-grid {
  0% { transform: rotateX(60deg) translate3d(-50%, -50%, 0); }
  100% { transform: rotateX(60deg) translate3d(-50%, calc(-50% + 50px), 0); }
}

/*--- Media queries ------------------------------------*/
/*--- SM ---------------------------------*/
@media (min-width: 576px) {
  .utilities { display: block; }

  .section__title:hover .section__anchor { visibility: visible; }

  .list__link {
    padding: calc(var(--spacer) * 1.5);
  }

  .main-footer {
    align-items: center;
    grid-template-areas: 
      "college phone"
      "address website"
      "credits credits"
      "copyrights copyrights";
    padding-left: var(--spacer);
    padding-right: var(--spacer);
  }

  .main-footer__college,
  .main-footer__address {
    text-align: left;
  }

  .main-footer__phone,
  .main-footer__website {
    text-align: right;
  }

  .logo-cmontmorency { margin: 0 0 5px; }
 
  .copyrights {
    flex-direction: row;
    text-align: left;
  }

  .copyrights .logo-tim {
    display: block;
    margin: 0.4em calc(var(--spacer)*2) 0 0;
  }

  .clipboard-popup {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--highlight);
    color: var(--background);
    font-weight: bold;
    padding: var(--spacer);
    transform: translate(-50%, calc(-50% - var(--spacer)));
    text-align: center;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s, color 1s, background-color 1s;
  }

  .clipboard-popup br { display: none; }

  .clipboard-popup.is-visible {
    opacity: 1;
    transform: translate(-50%, calc(-50%));
  }
}

/*--- MD ---------------------------------*/
@media (min-width: 768px) {
  .main-footer {
    grid-template-areas: 
      "college address phone"
      "college address website"
      "credits credits credits"
      "copyrights copyrights copyrights";
  }

  .main-footer__phone { margin-top: 0; }

  .logo-cmontmorency { margin: 0; }
}

/*--- LG ---------------------------------*/
@media (min-width: 992px) {
  :root {
    --width: 575px;
  }

  .main-footer {
    grid-template-areas: 
      "college address phone credits"
      "college address website credits"
      "copyrights copyrights copyrights copyrights";
    text-align: left;
  }
  .main-footer__phone,
  .main-footer__website { text-align: left; }

  .main-footer__credits { margin-top: 0; }

  .copyrights { width: fit-content; }
}

/*--- XXL ---------------------------------*/
@media (min-width: 1480px) {
  .xxl-only { display: block; }

  .main-footer {
    grid-auto-columns: auto;
    grid-template-areas: 
      "copyrights credits college address phone"
      "copyrights credits college address website";
  }

  .main-footer__copyrights { margin-top: 0; }
}