@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Quicksand:wght@400;600&display=swap");
:root {
  --font-regular: 'Quicksand', sans-serif;
  --font-heading: 'Montserrat', sans-serif;
  --color-light: #fff;
  --color: #f5f5f5;
  --color-dark: #e0e0e0;
  --background-light: #181818;
  --background: #111;
  --background-dark: #000;
  --hightlight-light: #ff3363;
  --highlight: #ff003a;
  --highlight-dark: #e00034;
  --complementary: #0df;
  --outline: #f1d302;
  --spacer: 15px;
  --section-spacer: 40px;
  --width: 375px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--highlight);
  font-family: var(--font-regular);
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: 600;
}

.logo {
  display: block;
  fill: var(--highlight);
  max-width: var(--width);
  width: 100%;
  margin: 30px auto;
}

main {
  display: block;
  position: relative;
  max-width: 375px;
  margin: 0 auto;
  min-height: calc(100vh - 350px);
  z-index: 100;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__item {
  display: block;
  margin: 15px 0;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.list__item:hover {
  -webkit-transform: skewY(-1deg) scale(1.05);
          transform: skewY(-1deg) scale(1.05);
}

.list__link {
  display: block;
  color: currentColor;
  border: solid 1px currentColor;
  background-color: var(--background);
  padding: 15px;
  text-decoration: none;
}
.list__link h3 {
  display: block;
  margin: 0;
}

.legal {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  background-color: var(--background);
  padding: var(--spacer);
  margin: 30px 0 0;
  overflow: hidden;
  border-top: solid 1px var(--highlight);
  z-index: 100;
}
.legal .cell {
  width: 100%;
}

.main-footer {
  --grid-color: var(--highlight);
  --grid-size: 50px;
  --grid-blur: 1px;
  -webkit-box-align: end;
          align-items: flex-end;
  background-color: var(--background);
  color: var(--color);
  display: -webkit-box;
  display: flex;
  min-height: 200px;
  overflow: hidden;
  -webkit-perspective: 800px;
          perspective: 800px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.main-footer::before {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(var(--primary)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--primary) 100%);
  content: '';
  height: var(--spacer);
  left: 0;
  position: absolute;
  top: -2px;
  width: 100%;
  z-index: 1;
}
.main-footer__content {
  position: relative;
  width: 100%;
}
.main-footer__grid {
  -webkit-animation: moving-grid 0.6s linear infinite;
          animation: moving-grid 0.6s linear infinite;
  background-color: var(--background);
  background-image: repeating-linear-gradient(90deg, var(--grid-color) 0%, transparent calc(1px + var(--grid-blur, 0)), transparent var(--grid-size), var(--grid-color) calc(var(--grid-size) + 1px + var(--grid-blur, 0))), repeating-linear-gradient(180deg, var(--grid-color) 0%, transparent calc(1px + var(--grid-blur, 0)), transparent var(--grid-size), var(--grid-color) calc(var(--grid-size) + 1px + var(--grid-blur, 0)));
  height: 300%;
  left: 50%;
  position: absolute;
  top: -45%;
  -webkit-transform: rotateX(60deg) translateX(-50%) translateY(-50%);
          transform: rotateX(60deg) translateX(-50%) translateY(-50%);
  width: 125vw;
}

@-webkit-keyframes moving-grid {
  0% {
    -webkit-transform: rotateX(60deg) translate3d(-50%, -50%, 0);
            transform: rotateX(60deg) translate3d(-50%, -50%, 0);
  }
  100% {
    -webkit-transform: rotateX(60deg) translate3d(-50%, calc(-50% + 50px), 0);
            transform: rotateX(60deg) translate3d(-50%, calc(-50% + 50px), 0);
  }
}

@keyframes moving-grid {
  0% {
    -webkit-transform: rotateX(60deg) translate3d(-50%, -50%, 0);
            transform: rotateX(60deg) translate3d(-50%, -50%, 0);
  }
  100% {
    -webkit-transform: rotateX(60deg) translate3d(-50%, calc(-50% + 50px), 0);
            transform: rotateX(60deg) translate3d(-50%, calc(-50% + 50px), 0);
  }
}
@media (min-width: 768px) {
  .legal .cell {
    width: 50%;
  }

  .cell + .cell {
    text-align: right;
  }
}